{# For every VRF render the configuration #}

{% for v in vrfs %}

  {# VRF Template #}
  vrf definition {{ v.vrf_name }} 
  rd {{ v.rd }}
  address-family ipv4
    route-target export {{ v.rd }}
    route-target import {{ v.rd }}

  {# Tunnel Template #}
  interface Tunnel{{ v.tunnel_id }}
  vrf forwarding {{ v.vrf_name }} 
  ip address {{ v.tunnel_ip }}  255.255.255.0
  ip mtu 1400
  ip tcp adjust-mss 1360
  ip nhrp network-id {{ v.tunnel_id }}
  ip nhrp nhs {{ v.tunnel_hub }} nbma {{ v.underlay_hub }}  multicast
  ip nhrp shortcut
  tunnel source Loopback 200
  tunnel mode gre multipoint 
  tunnel key {{ v.tunnel_id }}
  tunnel path-mtu-discovery
  tunnel protection ipsec profile {{ v.ipsec_profile }} shared

{% endfor %}

router bgp {{ asn }}

{% for v in vrfs %}

  address-family ipv4 vrf {{ v.vrf_name }}
    neighbor {{ v.peer_ip }} remote-as {{ peer_asn }}
    neighbor {{ v.peer_ip }} password STRONGPASSWORD
    neighbor {{ v.peer_ip }} activate
  exit-address-family

{% endfor %}

end